In [24]:
library(class)
library(dplyr)

In [12]:
data = read.csv("german_credit_data1.csv")

In [13]:
data

     X.  Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1     0  67  male   2   own     NA              little            1169
2     1  22  female 2   own     little          moderate          5951
3     2  49  male   1   own     little          NA                2096
4     3  45  male   2   free    little          little            7882
5     4  53  male   2   free    little          little            4870
6     5  35  male   1   free    NA              NA                9055
7     6  53  male   2   own     quite rich      NA                2835
8     7  35  male   3   rent    little          moderate          6948
9     8  61  male   1   own     rich            NA                3059
10    9  28  male   3   own     little          moderate          5234
11   10  25  female 2   rent    little          moderate          1295
12   11  24  female 2   rent    little          little            4308
13   12  22  female 2   own     little          moderate          1567
14   13  60  male   1   own     little          little            1199
15   14  28  female 2   rent    little          little            1403
16   15  32  female 1   own     moderate        little            1282
17   16  53  male   2   own     NA              NA                2424
18   17  25  male   2   own     NA              little            8072
19   18  44  female 3   free    little          moderate         12579
20   19  31  male   2   own     quite rich      NA                3430
21   20  48  male   2   own     little          NA                2134
22   21  44  male   2   rent    quite rich      little            2647
23   22  48  male   1   rent    little          little            2241
24   23  44  male   2   own     moderate        moderate          1804
25   24  26  male   2   own     NA              NA                2069
26   25  36  male   1   own     little          little            1374
27   26  39  male   1   own     little          NA                 426
28   27  42  female 2   rent    rich            rich               409
29   28  34  male   2   own     little          moderate          2415
30   29  63  male   2   own     little          little            6836
⋮    ⋮   ⋮   ⋮      ⋮   ⋮       ⋮               ⋮                ⋮
971  970 22  male   2   own     moderate        moderate         1514
972  971 43  male   1   own     little          NA               7393
973  972 29  female 0   rent    little          little           1193
974  973 36  male   2   rent    little          little           7297
975  974 33  female 2   own     little          NA               2831
976  975 57  female 1   own     quite rich      rich             1258
977  976 64  female 2   own     little          moderate          753
978  977 42  male   2   own     NA              moderate         2427
979  978 47  male   1   own     little          NA               2538
980  979 25  male   2   rent    moderate        moderate         1264
981  980 49  male   2   own     little          moderate         8386
982  981 33  male   3   rent    little          NA               4844
983  982 28  female 3   own     moderate        rich             2923
984  983 26  male   2   own     little          little           8229
985  984 30  male   1   own     little          NA               2028
986  985 25  female 2   rent    little          little           1433
987  986 33  male   2   own     little          rich             6289
988  987 64  female 2   own     moderate        NA               1409
989  988 29  male   3   free    little          little           6579
990  989 48  male   1   own     little          moderate         1743
991  990 37  male   1   own     NA              NA               3565
992  991 34  male   1   own     moderate        NA               1569
993  992 23  male   1   rent    NA              little           1936
994  993 30  male   3   own     little          little           3959
995  994 50  male   2   own     NA              NA               2390
996  995 31  female 1   own     little          NA               1736
997  996 40  male   3   own     little          little           3857
998  997 38  male   2   own     little          NA                804
999  998 23  male   2   free    little          little           1845
1000 999 27  male   2   own     moderate        moderate         4576
     Duration Purpose             Credit.Risks
1     6       radio/TV            1
2    48       radio/TV            2
3    12       education           1
4    42       furniture/equipment 1
5    24       car                 2
6    36       education           1
7    24       furniture/equipment 1
8    36       car                 1
9    12       radio/TV            1
10   30       car                 2
11   12       car                 2
12   48       business            2
13   12       radio/TV            1
14   24       car                 2
15   15       car                 1
16   24       radio/TV            2
17   24       radio/TV            1
18   30       business            1
19   24       car                 2
20   24       radio/TV            1
21    9       car                 1
22    6       radio/TV            1
23   10       car                 1
24   12       car                 1
25   10       furniture/equipment 1
26    6       furniture/equipment 1
27    6       radio/TV            1
28   12       radio/TV            1
29    7       radio/TV            1
30   60       business            2
⋮    ⋮        ⋮                   ⋮
971  15       repairs             1
972  24       car                 1
973  24       car                 2
974  60       business            2
975  30       radio/TV            1
976  24       radio/TV            1
977   6       radio/TV            1
978  18       business            1
979  24       car                 2
980  15       car                 2
981  30       furniture/equipment 2
982  48       business            2
983  21       car                 1
984  36       car                 2
985  24       furniture/equipment 1
986  15       furniture/equipment 1
987  42       business            1
988  13       radio/TV            1
989  24       car                 1
990  24       radio/TV            1
991  12       education           1
992  15       radio/TV            1
993  18       radio/TV            1
994  36       furniture/equipment 1
995  12       car                 1
996  12       furniture/equipment 1
997  30       car                 1
998  12       radio/TV            1
999  45       radio/TV            2
1000 45       car                 1

### We choose columns from Age, Credit.Amount and Job as training sets. We choose column Credit.Risks as label for test set.

### We take the sampling rate here as 0.8 below

### We take the misclassification rate for 20 values of k and we observe that k = 11 gives the lowest Misclassification rate of 0.28. Therefore we take k=11 as k that gives the highest accuracy.

In [37]:
n.points <- 1000
sampling.rate <- 0.8
num.test.set.labels <- n.points * (1 - sampling.rate)
training <- sample(1:n.points, sampling.rate * n.points,replace=FALSE)
train <- subset(data[training, ], select = c(Age, Credit.amount,Job))
testing <- setdiff(1:n.points, training)
test <- subset(data[testing, ], select = c(Age, Credit.amount,Job))
cl <- data$Credit.Risks[training]
true.labels <- data$Credit.Risks[testing]
Misclassificationrate = c()
Kvalue = c()
for (k in 1:20) {
print(k)
predicted.labels <- knn(train, test, cl, k)
# We're using the R function knn()
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels/num.test.set.labels
print(misclassification.rate)
Misclassificationrate <- c(Misclassificationrate,misclassification.rate)
Kvalue = c(Kvalue, k)
}

dt1 <- data.frame(Kvalue,Misclassificationrate)

[1] 1
[1] 0.405
[1] 2
[1] 0.38
[1] 3
[1] 0.345
[1] 4
[1] 0.355
[1] 5
[1] 0.315
[1] 6
[1] 0.32
[1] 7
[1] 0.305
[1] 8
[1] 0.315
[1] 9
[1] 0.32
[1] 10
[1] 0.325
[1] 11
[1] 0.28
[1] 12
[1] 0.315
[1] 13
[1] 0.305
[1] 14
[1] 0.305
[1] 15
[1] 0.3
[1] 16
[1] 0.31
[1] 17
[1] 0.295
[1] 18
[1] 0.295
[1] 19
[1] 0.285
[1] 20
[1] 0.29

In [38]:
rs1 <- dt1 %>% filter(Misclassificationrate == min(Misclassificationrate))
rs1

  Kvalue Misclassificationrate
1 11     0.28

### We take the sampling rate here as 0.7 below

### We take the misclassification rate for 20 values of k and we observe that k = 19 gives the lowest Misclassification rate of 0.3133333. Therefore we take k=19 as k that gives the highest accuracy.

In [35]:
n.points <- 1000
sampling.rate <- 0.7
num.test.set.labels <- n.points * (1 - sampling.rate)
training <- sample(1:n.points, sampling.rate * n.points,replace=FALSE)
train <- subset(data[training, ], select = c(Age, Credit.amount,Job))
testing <- setdiff(1:n.points, training)
test <- subset(data[testing, ], select = c(Age, Credit.amount,Job))
cl <- data$Credit.Risks[training]
true.labels <- data$Credit.Risks[testing]
Misclassificationrate = c()
Kvalue = c()
for (k in 1:20) {
print(k)
predicted.labels <- knn(train, test, cl, k)
# We're using the R function knn()
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels/num.test.set.labels
print(misclassification.rate)
Misclassificationrate <- c(Misclassificationrate,misclassification.rate)
Kvalue = c(Kvalue, k)
}

dt2 <- data.frame(Kvalue,Misclassificationrate)

[1] 1
[1] 0.4533333
[1] 2
[1] 0.4233333
[1] 3
[1] 0.4133333
[1] 4
[1] 0.4066667
[1] 5
[1] 0.43
[1] 6
[1] 0.39
[1] 7
[1] 0.38
[1] 8
[1] 0.3566667
[1] 9
[1] 0.3366667
[1] 10
[1] 0.3433333
[1] 11
[1] 0.3266667
[1] 12
[1] 0.33
[1] 13
[1] 0.3166667
[1] 14
[1] 0.3233333
[1] 15
[1] 0.3266667
[1] 16
[1] 0.3166667
[1] 17
[1] 0.3166667
[1] 18
[1] 0.3266667
[1] 19
[1] 0.3133333
[1] 20
[1] 0.33

In [36]:
rs2 <- dt2 %>% filter(Misclassificationrate == min(Misclassificationrate))
rs2

  Kvalue Misclassificationrate
1 19     0.3133333

### We take the sampling rate here as 0.55 below

### We take the misclassification rate for 20 values of k and we observe that k = 19 gives the lowest Misclassification rate of 0.2977778. Therefore we take k=19 as k that gives the highest accuracy.

In [33]:
n.points <- 1000
sampling.rate <- 0.55
num.test.set.labels <- n.points * (1 - sampling.rate)
training <- sample(1:n.points, sampling.rate * n.points,replace=FALSE)
train <- subset(data[training, ], select = c(Age, Credit.amount,Job))
testing <- setdiff(1:n.points, training)
test <- subset(data[testing, ], select = c(Age, Credit.amount,Job))
cl <- data$Credit.Risks[training]
true.labels <- data$Credit.Risks[testing]
Misclassificationrate = c()
Kvalue = c()
for (k in 1:20) {
print(k)
predicted.labels <- knn(train, test, cl, k)
# We're using the R function knn()
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels/num.test.set.labels
print(misclassification.rate)
Misclassificationrate <- c(Misclassificationrate,misclassification.rate)
Kvalue = c(Kvalue, k)
}

dt3 <- data.frame(Kvalue,Misclassificationrate)

[1] 1
[1] 0.4111111
[1] 2
[1] 0.4
[1] 3
[1] 0.3822222
[1] 4
[1] 0.3644444
[1] 5
[1] 0.32
[1] 6
[1] 0.3511111
[1] 7
[1] 0.3422222
[1] 8
[1] 0.3377778
[1] 9
[1] 0.3266667
[1] 10
[1] 0.3155556
[1] 11
[1] 0.32
[1] 12
[1] 0.3266667
[1] 13
[1] 0.3266667
[1] 14
[1] 0.32
[1] 15
[1] 0.3288889
[1] 16
[1] 0.3244444
[1] 17
[1] 0.3111111
[1] 18
[1] 0.3088889
[1] 19
[1] 0.2977778
[1] 20
[1] 0.3044444

In [34]:
rs3 <- dt3 %>% filter(Misclassificationrate == min(Misclassificationrate))
rs3

  Kvalue Misclassificationrate
1 19     0.2977778